<!DOCTYPE html>
<html>
    <head>
        <title>The Verge - Serif Edition</title>
        <link rel="shortcut icon" href="favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="dark light">
    </head>

    <body>
        <center><h1><font color="#F7C626">T</font><font color="#F7B229">h</font><font color="#F69B2D">e</font> <font color="#F48037">V</font><font color="#F16746">e</font><font color="#ED465C">r</font><font color="#E8286F">g</font><font color="#E5127D">e</font><small> - Serif Edition</small></h1></center>
        <hr>
        <center><small>Stories from The Verge in basic HTML. Inspiration and layout from <a href="http://68k.news/">68k.news</a>. Source on <a href="https://www.github.com/harrego/serifverge">GitHub.</a></small></center>
        <%for (const post of posts) { %>
        <%
        const date = new Date(post.date * 1000)
        const dateString = `${date.toLocaleDateString("en-US", { timeZone: 'America/New_York', year: "numeric", month: "long", day: "numeric" })} - ${date.toLocaleTimeString("en-us", { timeZone: 'America/New_York', timeZoneName: "short" ,hour: "2-digit" ,minute: "2-digit"})}`

        const idBuff = new Buffer(post.post_id)
        const postLink = `/post/${idBuff.toString("base64")}`
        %>
        <h3><font size="5"><a href="<%= postLink %>"><%= post.title %></a></font></h3>
        <ul>
            <li><b>Author:</b> <%= post.author %></li>
            <li><b>Date:</b> <%= dateString %></li>
        </ul>
        <%}%>

        <center><p><small>This website is not affiliated, associated, authorized, endorsed by, or in any way officially connected with the The Verge, or any of its subsidiaries or its affiliates.</small></p></center>
    </body>
</html>
